*{
  outline:none;
}
body{
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  background-color:#fff;
  color: #666;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
img{
  border:none;
  height:auto;
}
section img, img{
  max-width:100%;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:10px 0;
  color: #cc3333;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
}
p{
  margin:0 0 15px;
  padding:0;
  font-size:16px;
  color: #3a4d5e;
}
a{
  text-decoration:none;
  color:#cc3333;
}
a:hover{
  color:#666;
}
a:focus,a:hover{
  text-decoration:none !important;
}
a:focus, input:focus, textarea:focus, .account-btn a:focus, .serach_inner input:focus, .woocommerce a:focus,.toggle-menu.responsive-menu a:focus,.woocommerce form .form-row input:focus.input-text, .woocommerce form .form-row textarea:focus{
  outline: 1px solid #000;
  border-bottom: 1px solid #000 !important;
}
#footer a:focus, .copyright a:focus, #footer input[type="search"]:focus, #footer button:focus, #footer input[type="submit"]:focus {
  outline: 1px solid #fff;
  border-bottom: 1px solid #fff !important;
}
.primary-navigation ul ul a:focus, .primary-navigation a:focus, .main-navigation .sub-menu > li > a:focus, #menu-sidebar input.search-field:focus{
  outline: 1px solid #cc3333;
  border-bottom: 1px solid #fff !important;
}
ul{
  margin:0 15px 0 0;
  padding:0;
}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
select, .cat-posts img, iframe, .entry-audio audio, .woocommerce-input-wrapper, table#wp-calendar, #footer form.search-form label, .page-box-single .box-image img, .page-box-single img, .our-services img{
  width:100%;
}
.clear, #respond, article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
  clear:both;
}
input[type='submit']:hover{
  cursor: pointer;
}
.wp-caption{
  font-size:13px;
  max-width:100%;
}
.wp-caption-text, .bypostauthor, *, body, img, .wp-caption, .sticky, .gallery-caption{
  margin:0;
  padding:0;
}
.screen-reader-text {
  position: absolute;
  top:-9999em;
  right:-9999em;
}
/*wide block*/
.entry-content .alignwide {
  margin-right  : -80px;
  margin-left : -80px;
}
.entry-content .alignfull {
  margin-right  : calc( -100vw / 2 + 100% / 2 );
  margin-left : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
} 
.left-sidebar-page .entry-content .alignwide, .left-sidebar-page .entry-content .alignfull, .right-sidebar-page .entry-content .alignwide, .right-sidebar-page .entry-content .alignfull{
  margin-right  : 0;
  margin-left : 0;
}
/* block image */
.page-box-single .alignwide, .page-box-single .alignfull, .our-services .alignwide, .our-services .alignfull{
  margin-right: 0;
  margin-left: 0;
}
/* Block Gallery */
.page-box-single .blocks-gallery-caption{
  margin-bottom: 15px;
}
.page-box-single .extraclass.wp-block-gallery-3{
  margin-left: 25px;
  margin-top: 5px;
}
/* block button */
.page-box-single .wp-block-button.is-style-outline{
  margin: 5px 0;
}
.page-box-single .wp-block-button.is-style-outline a{  
  color: #cc3333 !important;
}
.page-box-single .wp-block-button.is-style-squared a{
  border-radius: 0;
}
/* Block Layout */
.page-box-single .wp-block-media-text__media img{
  width: 100% !important;
}
/* Block widget */
#sidebar .widget_block.widget_tag_cloud a, .page-box-single .wp-block-tag-cloud a{
  border: solid 1px #999;
  color: #9399a5;
  font-size: 15px !important;
  padding: 5px 18px;
  margin: 0 2px 6px;
  display: inline-block;
}
#sidebar .widget_block.widget_tag_cloud a:hover, .page-box-single .wp-block-tag-cloud a:hover, #footer .widget_block.widget_tag_cloud a:hover{
  background: #cc3333;
  color: #fff;
}
#footer .widget_block.widget_tag_cloud a{
  border: solid 1px #fff;
  color: #fff;
  font-size: 15px !important;
  padding: 5px 18px;
  margin: 0 2px 6px;
  display: inline-block;
}
#sidebar .widget_block.widget_tag_cloud .wp-block-tag-cloud{
  margin-bottom: 0;
}
#sidebar .widget_block .wp-block-calendar .wp-calendar-nav, #footer .widget_block .wp-block-calendar .wp-calendar-nav{
  text-align: right;
}
#footer .widget_block .wp-block-calendar .wp-calendar-nav a{
  color: #fff;
}
#footer .widget_block .wp-block-calendar th{
  background: transparent;
  font-weight: 800;
}
#sidebar .widget_block .wp-block-social-links li:before{
  display: none;
}
#sidebar .widget_block .wp-block-social-links li:hover, #footer .widget_block .wp-block-social-links li:hover{
  transform: none;
}
#sidebar .widget_block .wp-block-social-links li, #footer .widget_block .wp-block-social-links li{
  padding: 0;
}
#sidebar .widget_block .wp-block-social-links li a, #footer .widget_block .wp-block-social-links li a{
  color: #ffffff;
  padding: 10px;
}
#sidebar .widget_block.widget_media_image .wp-block-image, #sidebar .widget_block .wp-block-gallery{
  margin-bottom: 0;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.alignleft,img.alignleft {
  display: inline;
  float: right;
  margin-left:20px;
  margin-top:4px;
  margin-bottom:10px;
  padding:0;
  border:1px solid #bbb;
  padding:5px;
}
.alignright,img.alignright {
  display: inline;
  float: left;
  border:1px solid #bbb;
  padding:5px;
  margin-bottom:10px;
  margin-right:25px;
}
.aligncenter,img.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top:0;
}
input[type="text"],input[type="email"],input[type="phno"],input[type="password"],textarea{
  border:1px solid #bcbcbc;
  width:100%;
  font-size:16px;
  padding:10px 10px;
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:auto;
}
input[type="search"] {
  padding: 10px !important;
  border: none;
  color: #cc3333;
}
input[type="submit"] {
  border: none;
  text-align:center;
  font-size:18px;
  padding:9px 30px;
  background: #cc3333;
  font-weight:bold;
  color:#fff;
}
.noresult-content .search-form{
  display: flex;
}
.noresult-content .search-form input.search-field{
  width: 95%;
}
/* ---------Buttons--------- */
.read-moresec a {
  border: 2px solid ;
  color: #cc3333;
}
.read-moresec a:hover{
  background: #cc3333;
  color: #fff;
}
/*preloader*/
.toggle-menu, a.closebtn.responsive-menu, .cat_content:hover h3.title-btn, .no-js #loader-wrapper, #contact-info, .page-template-custom-front-page #header, .elementor-html #loader,.elementor-html #loader-wrapper{
  display: none;
}
#comments, .page-template-custom-front-page .header-nav #header, .primary-navigation ul li:hover > ul {
  display: block;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
  overflow: hidden;
}
#loader {
  display: block;
  position: relative;
  right: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px -75px 0 0;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  -webkit-animation: spin 1.7s linear infinite;
          animation: spin 1.7s linear infinite;
  z-index: 99999;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin-reverse .6s linear infinite;
          animation: spin-reverse .6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}
#loader-wrapper .loader-section.section-left {
  right: 0;
}
#loader-wrapper .loader-section.section-right {
  left: 0;
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/*preloader 2*/
#loader-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  overflow: hidden;
  display: block;
  background: #fff;
}
.loader{
  width: 70px;
  height: 300px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.loader div{
    background-color: #14213d; 
    width: 48px;
    height: 48px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: jump 2.25s linear infinite;
}
.loader div:nth-child(1):after{
    content: '';
    width: calc(48px * 2 / 3);
    height: calc(48px * 2 / 3);
    border-radius: 50%;
    border-top: 4px solid #14213d;
    border-right: 4px solid #14213d;
    transform: rotate(-135deg);
    position: absolute;
    right: 28px;
    bottom: calc(48px / 6);
}
.loader div:nth-child(2){
    background-color: #fca311;
    width: calc(48px / 2);
    height: calc(48px / 2);
    right: calc(5px * 2.2);
    z-index: 0;
    animation: jump1 2.25s linear infinite;
}
.loader div:nth-child(3){
    background-color: #f72585;
    width: calc(48px / 3);
    height: calc(48px / 3);
    right: calc(5px * 5 / 2);
    z-index: 0;
    animation: jump2 2.25s linear infinite;
}
@keyframes jump{
    0%{
      transform: scaleY(1) scaleX(1);
      transform-origin: bottom;
      bottom: 0;
    }
    8%{
      transform: scaleY(0.5) scaleX(1.4);
      transform-origin: bottom;
      bottom: 0;
      animation-timing-function: cubic-bezier(0, 0.8, 0.74, 1);
    }
    25%{
      transform: scaleY(1) scaleX(1);
      bottom: calc(48px * 3);
      animation-timing-function: cubic-bezier(0.8, 0.42, 1, 0.64);
    }
    95%{
      transform: scaleY(1) scaleX(1) rotate(0turn);
      bottom: 0;
    }
    100%{
      transform: scaleY(1) scaleX(1) rotate(0turn);
      bottom: 0;
    }
}
@keyframes jump1{
    0%{
      transform: scaleY(1) scaleX(1);
      transform-origin: bottom;
      bottom: 0;
    }
    8%{
      transform: scaleY(1) scaleX(1);
      transform-origin: bottom;
      bottom: 0;
      animation-timing-function: cubic-bezier(0, 0.8, 0.74, 1);
    }
    55%{
      transform: scaleY(1) scaleX(1) rotate(1turn);
      transform-origin: center;
      bottom: calc(48px * 5.5);
      animation-timing-function: cubic-bezier(0.29, 0.01, 1, 0.55);
    }
    100%{
      transform: scaleY(1) scaleX(1) rotate(2turn);
      bottom: 0;
    }
}
@keyframes jump2{
    0%{
      transform: scaleY(1) scaleX(1);
      transform-origin: bottom;
      bottom: 0;
    }
    8%{
      transform: scaleY(1) scaleX(1);
      transform-origin: bottom;
      bottom: 0;
      animation-timing-function: cubic-bezier(0, 0.8, 0.74, 1);
    }
    55%{
      transform: scaleY(1) scaleX(1) rotate(-1turn);
      transform-origin: center;
      bottom: calc(48px * 6.5);
      animation-timing-function: cubic-bezier(0.29, 0.01, 1, 0.55);
    }
    100%{
      transform: scaleY(1) scaleX(1) rotate(-2turn);
      bottom: 0;
    }
}

/* --------- Breadcrumbs --------- */
.breadcrumbs a {
  background:#cc3333;
  color: #fff;
  padding: 9px 17px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 10px;
  font-weight: 600;
  border: 2px solid #cc3333;
}
.breadcrumbs a:hover, .post-categories li a:hover{
  background:transparent;
  color:#cc3333;
}
.breadcrumbs span{
  background:#cc3333;
  color:#fff;
  padding: 10px 15px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px;
}
/*----------Sticky Header------*/
.fixed-header {
  position: fixed;
  top:0; 
  right:0;
  width: 100%;
  background: #fff;
  box-shadow: -2px 2px 10px 0px #2d2d2d;
  z-index: 9999;
}
.fixed-header .main-menu{
  border-bottom: none;
  box-shadow: none;
}
.header-fixed{
  position: fixed;
  top:0; 
  right:0;
  width: 100%;
  z-index: 999999;
}
body.admin-bar .fixed-header{
  margin-top: 32px;
}
/* ---------Logo Middle Header--------- */
.page-template-custom-front-page .logo{
  padding: 15px;
  background: #fff;
  position: absolute; 
  bottom: -23px;
  box-shadow: 0px 4px 10px -4px #bbb;
}
.logo {
  position: static; 
  bottom: 0px; 
}
.logo h1, .logo p.site-title a{
  font-size:35px;
  font-weight:bold;
  line-height: 1.2;
}
.logo a, .mail i,.phone i, #sidebar caption, #sidebar .textwidget a, h2.entry-title, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, a.showcoupon,.woocommerce-message::before, .woocommerce ul.products li.product .price,.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #cc3333;
}
.logo p{
  font-size:12px;
  color: #cc3333 !important;
}
/* ---------HEADER--------- */
.page-template-custom-front-page #header-top{
  position: absolute;
  width: 100%;
  z-index: 9;
  margin: 2em 0;
  left: 0;
  background: transparent;
}
.page-template-custom-front-page .main-menu{
  border: none;
  position: relative;
}
#header-top{
  position: static;
  background: #f5f5f5;
}
.top-header .account-btn a {
  border: 2px solid #cc3333;
  color: #cc3333;
  font-size: 12px;
  font-weight: bold;
}
.top-header .account-btn a:hover{
  background: #cc3333;
  color: #fff;
}
.top-header{ 
  background: #f5f5f5;
}
.page-template-custom-front-page .top-header{
  background: #fff;
}
.mail a,.phone a, a.showcoupon, .woocommerce-MyAccount-content p a, .woocommerce a.woocommerce-privacy-policy-link{
  color: #000;
}
.mail,.phone{
  color: #232323;
  font-size: 14px;
}
.time {
  background: #cc3333;
  color: #fff;
  font-size: 15px;
}
.main-menu {
  border-bottom: 1px solid #cc3333;
  box-shadow: 0px 2px 10px -2px #bbb;
}
/* --------- Main Menu--------- */
.page-template-custom-front-page .header-nav #header .search-box {
  margin: 8px 0px;
}
.page-template-custom-front-page .primary-navigation ul{
  margin:0;
}
.primary-navigation ul{
  list-style: none !important;
  margin: 0;
}
.primary-navigation li{
  display: inline-block;
  position: relative;
}
.primary-navigation a{
  display: block;
  color: #252525;
  font-size: 15px;
  padding: 16px 22px;
  text-transform: capitalize;
}
.primary-navigation ul ul{
  display: none;
  position: absolute;
  min-width: 215px;
  z-index: 9999;
}
.primary-navigation ul ul ul {
  right: 100%;
  top: 5px;
}
.primary-navigation ul ul a{
  padding: 10px;
  background: #000;
  color: #fff;
}
.primary-navigation li a:hover,.primary-navigation li:hover a, .primary-navigation li a:focus,.primary-navigation li:focus a, .primary-navigation ul ul a:focus, .primary-navigation ul ul a:hover{
  background: #000;
}
.primary-navigation ul ul a:focus, .primary-navigation ul ul a:hover, .primary-navigation ul ul li:hover > a, .primary-navigation li a:hover,.primary-navigation li:hover a, .primary-navigation li a:focus,.primary-navigation li:focus a, #footer .entry-content p a, #footer .textwidget a, .tagcloud a, #footer td#prev a, #footer table, #wp-calendar td a, #footer h3.widget-title a, .copyright p a{
  color: #fff;
}
.primary-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  padding: 0;
}
.primary-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.primary-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
ul.sub-menu {
  margin-top: 0px;
}
.primary-navigation ul ul li:first-child{
  border-top: 6px solid #cc3333;
}
/*--------------- SUPERFISH MENU ---------------------------*/
.sf-arrows .sf-with-ul:after{
  content: '\f067';
  position: absolute;
  height: 0;
  width: 0;
  border-top-color: #e1e1e1;
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
  margin-top: 0px;
  font-size: 10px;
  padding: 0px 6px;
  left:18px;
  top:20px;
}
.sf-arrows ul .sf-with-ul:after{
  left: 10px;
  color: #fff;
  top:10px;
}
.sf-arrows ul li > .sf-with-ul:focus:after,.sf-arrows ul li:hover > .sf-with-ul:after,.sf-arrows .sfHover > .sf-with-ul:after{
  content: '\f068';
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
  color: #fff;
}
.sf-arrows .sf-with-ul{
  padding-left: 30px;
}
/*-----------------Search pop up----------------*/
.serach_inner label {
  width: 95%;
}
.serach_inner{
  background: #fff;
  max-height: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 0px 12px #c0bebe;
  transition: 1s height ease-in-out;
}
.search-close {
  position: absolute;
  top: 0;
  font-size: 40px;
  z-index: 9999;
  left: 50%;
  color: #575756;
  background: none;
  border:none;
  cursor: pointer;
  transition: 0.5s height ease-in-out;
}
.serach_inner form.search-form {
  width: calc(100% - 30px);
  color: #fff;
  border: none;
  border-bottom: 1px solid #eae6e6;
  position: absolute;
  bottom: 20px;
  display: table;
  padding: 0;
  border-radius: 0;
  background: #ffffff;
  max-width: 1200px;
  text-align: right;
}
.serach_inner form.search-form label {
  width: 95%;
}
.serach-page input.search-field {
  border: 1px solid #ccc;
  padding: 9px;
}
.serach_inner input.search-field {
  padding: 10px;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  color: #3a4d5e;
  max-height: 1200px;
  border: 0;
}
.serach_inner input.search-submit {
  padding: 8px 35px;
  margin: 5px 0;
  font-size: 20px;
}
button.search-submit {
  border: 0;
  background: transparent;
}
.serach_inner input[type="submit"]{
  text-indent: -9999px;
  z-index: 9999;
  background: url(images/search.png) no-repeat 100% 10px;
  position: absolute;
  margin:0;
  background-size: 30px;
}
.search-box button{
  background: transparent;
  border: 0;
}
.search-outer {
  background: rgb(0 0 0 / 0.7);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  visibility: hidden;
  text-align: center;
  height: 100%;
  transition: 1s height ease-in-out;
  z-index: 999;
}
body.search-focus .search-outer{
  visibility: visible;
  transition: 1s height ease-in-out;
}
body.admin-bar .serach_inner{
  margin-top: 32px;
}
body.admin-bar .search-close{
  top:30px;
}
button.search-submit {
  border: 0;
  background: transparent;
}
input.search-field {
  border: 1px solid #bbb;
  padding: 10px 0;
  background: transparent;
  width: 100%;
}
.search-box i {
  color: #000;
  font-size: 18px;
}
.page-template-custom-front-page .search-box i{
  color:#cc3333;
}
.serach_inner input[type="submit"]{
  text-indent: -9999px;
  z-index: 9999;
  background: url(images/search.png) no-repeat 100% 10px;
  position: absolute;
  margin:0;
  background-size: 30px;
}
/* --------- Slider --------- */
#slider{ 
  background-color: #fff;
}
#slider img {
  width: 100%;
  opacity: 0.5;
}
#slider .carousel-control-next-icon, #slider .carousel-control-prev-icon {
  background:transparent;
  width: auto;
  height: auto;
}
#slider .carousel-control-prev,#slider .carousel-control-next{
  top:50%;
  opacity: unset;
}
#slider i{
  background: #cc3333;
  color: #fff;
}
#slider .carousel-caption {
  transform: translateY(-50%);
  top: 52%;
  right: 8%;
  left: 50%;
}
#slider .inner_carousel h1 {
  font-size: 44px;
  color: #232323;
  font-weight: 900;
}
#slider .inner_carousel p {
  font-size: 15px;
  line-height: 1.5;
  color: #484c4c;
}
#slider .inner_carousel .readbtn a {
  border: 2px solid #cc3333;
  color: #fff;
  background: #cc3333;
  font-size: 12px;
  font-weight: bold;
}
#slider .inner_carousel .readbtn a:hover {
  border-color: #cc3333;
  color: #cc3333;
  background: transparent;
}
#slider .carousel-control-next {
  left: 6%;
  width: 15%;
}
#slider .carousel-control-prev {
  right: auto;
  left: 10%;
}
/*----------------- Courses ----------------*/
#courses{
  background: #f7f7f7;
}
#courses h2{
  color: #232323;
}
#courses h2 i{
  color: #cc3333;
  font-size: 38px;
  margin-left: 10px;
}
.cat-posts {
  position: relative;
}
.cat_body {
  background: rgba(255, 255, 255);
  border-left: 2px solid #cc3333;
  color: white;
  font-size: 1em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 3em;
  right: 0em;
  left: 4em;
  bottom: 3em;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.cat_content:hover .cat_body { 
  opacity: 1; 
}
.cat_content:hover .cat_body:after,.cat_content:hover .cat_body:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.cat-posts h3{
  color: #000000;
  font-size: 20px;
}
.cat-posts p {
  line-height: 1.5;
  color: #3a4d5e;
  font-size: 12px;
}
.cat-posts a{
  border: 2px solid #cc3333;
  color: #cc3333;
  font-size: 12px;
  font-weight: bold; 
}
h3.title-btn {
  color: #000;
  display: inline-block;
  position: relative;
  background: #fff;
  bottom: 5em;  
  font-size: 20px;
  border-left:2px solid #cc3333;
}
/*----------------- content page ----------------*/
.our-services .page-box{
  margin-left: 12px;
}
.page-box, .related-content {
  border-bottom: 1px solid #ebebeb;
}
.page-box .metabox,.metabox a{
  color:#9399a5;
}
.page-box .new-text h2:after {
  content: "";
  display: block;
  margin-top: 15px;
  width: 36px;
  border-top: 1px solid #cc3333;
}
.metabox span {
  font-size: 14px;
}
.entry-video video{
  width: 100%;
}
.our-services .entry-gallery img {
  width: 45%;
  margin: 5px;
}
.our-services .entry-gallery figure.wp-block-image{
  display: inline;
}
.new-text h2 a, .related-box h4{
  color: #3a4d5e;
  font-size: 25px;
}
.new-text p{
  color: #5b5b5b;
}
.read-more-btn a {
  border: 2px solid #cc3333;
  color: #fff !important;
  background: #cc3333;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}
.read-more-btn a:hover{
  border: 2px solid #cc3333;
  background: transparent;
  color: #cc3333 !important;
}
.page-box .metabox, .page-box .metabox a, .page-box-single .metabox, .page-box-single a{
  color:#cc3333;
  clear:both;
}
.metabox span {
  font-size: 14px;
}
.metabox a:hover{
  color: #3a4d5e;
}
.entry-content code{
  color:#cc3333;
}
.meta-nav {
  color: #cc3333;
  font-weight: bold;
  font-size: 14px;
  background: #f1f2f3;
}
.meta-nav:hover{
  background: #cc3333;
  color: #fff;
}
.page-box-single{
  background: #f7f7f7;
}
.post-title{
  color: #1a8129;
  display: block;
}
.meta-nav i {
  font-weight: 900;
  font-size: 15px;
  padding: 8px 0;
}
.tags i{
  font-size: 20px;
  color:#cc3333;
  margin-left: 10px;
}
.tags p a{
  font-size: 15px;
  color:#cc3333;
  border: 1px solid #cc3333;
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
}
.tags p a:hover{
  color: #fff;
  background: #cc3333;
  border: 1px solid #fff;
}
.entry-content a{
  color: #cc3333;
  text-decoration: underline;
}
.page-box-single h1{
  text-transform: capitalize;
  font-weight: 600;
  color: #cc3333;
}
input#pwbox-1168 {
  padding: 7px;
}
/*footer*/
#footer .textwidget a{
  text-decoration: underline;
}
#footer input[type="search"] {
  width: 95%;
  border: none;
  padding: 7px 6px;
  border: solid 1px #cc3333;
  color: #fff;
}
#footer input[type="submit"] {
  font-size: 10px;
  padding: 12px 8px;
  font-weight: bold;
  color: #fff;
  margin: 3px 0 0 0;
  font-size: 15px;
  width: 100%
}
table#wp-calendar td a {
  color: #cc3333;
}
#footer caption,#sideabr caption {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
#footer table,#footer th,#footer td,#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #d1d1d1;
  text-align: center;
}
#sidebar td,#sidebar td#prev a,#sidebar th {
  color:#202020 !important;
  padding: 5px;
}
#footer td {
  padding: 7px;
  color: #fff;
}
#footer th,#sidebar th {
  text-align: center;
  padding: 10px;
  color: #fff;
}
#footer select,#sidebar select {
  padding: 8px 5px;
  color: #4d4d4d;
}
#footer li a {
  color: #fff;
  font-size: 16px;
}
#footer li a:hover{
  color: #cc3333;
}
#footer ul li {
  list-style: none;
  padding: 5px 0;
}
#footer ul {
  margin: 0;
}
#footer{
  background:#232323;
  color:#fff;
  clear:both;
}
#footer h3{
  font-size:24px;
  font-weight: bold;
  color: #fff;
}
#footer p{
  font-size:16px;
  color: #fff;
}
#footer input[type="text"]{width:60%;
  padding:8px 5%;
  float:right;
  margin-left:2%;
  border-radius:5px;
}
#footer input[type="submit"] {
  padding: 10px 0;
  float: left;
  background: #cc3333;
  border-radius: 0px;
  color: #fff;
  margin-top: -38px;
}
.copyright p {
  font-size: 15px;
  color: #fff;
}
.copyright {
  background: #cc3333;
  text-align:center;
}
#footer .tagcloud a {
  border: solid 1px #fff;
  color: #fff;
  font-size: 15px !important;
  padding: 5px 18px;
  margin: 0 2px 6px;
  display: inline-block;
}
#footer .tagcloud a:hover{
  background-color: #cc3333; 
}
/*scroll to top*/
#scroll-top{
  background: #000;
  border:2px solid #000;
  color:#fff;
  cursor:pointer;
  width:65px;
  height:65px;
  opacity:0.5;
  position:fixed;
  bottom:60px;
  left:20px;
  z-index:9999;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  font-size:20px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: none;
}
.left-align{
  right: 20px;
}
.center-align {
  right: 50%;
  left: 50%;
}
/* Comments BOX */
#comments h2.comments-title{
  font-size:25px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],#comments input[type="email"],#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background:#cc3333;
  padding:10px 50px;
  text-transform:normal;
  font-weight:bold;
  color: #fff;
  margin-top:20px;
  margin-right:0;
  border: none;
}
#comments a.comment-reply-link{
  color:#fff;
  background:#cc3333;
  padding:7px 15px;
}
.comment-list .comment-content ul {
  list-style:none;
  margin-right:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
#comments a.comment-reply-link:hover{
  background:rgb(21, 28, 39);
  color: #fff;
}
#comments a time{
  color:#cc3333;
  font-weight:bold;
  font-size:12px;
}
#comments ol li li{
  padding-right: 25px;
}
.content-ts #comments ul{
  margin:0 40px 0 0;
}
#comments .reply{
  text-align:left;
}
#comments .comment-author{
  width:100%;
}  
.comment-body{
  margin-bottom: 20px;
}
#comments ol.comment-list {
  color: #3a4d5e;
  font-size: 18px;
}
.comment-meta.commentmetadata {
  margin: 8px 0;
}
.comment-author cite.fn{
  padding-right: 10px;
}
.content-ts #comments h2.comments-title{
  padding-top: 10px;
  font-size: 25px;
}
.content-ts #comments ol li li{
  margin-right: 25px;
}
.content-ts #comments ol li{
  width:100%;
  background:none;
  list-style:none;
  margin: 0;
  background:#fff;
  display: inline-block;
} 
.comment-author.vcard img {
    width: auto;
}
/*------------- Woocommerce --------------*/
.woocommerce .woocommerce-MyAccount-navigation ul{
  margin: 0;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
  background: #cc3333;
  color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
  padding: 10px 15px;
  font-size: 18px;
}
.woocommerce ul.products li.product .button{
  margin:1em 0;
}
.woocommerce #sidebar {
  margin-top: 2em;
}
.woocommerce-message {
  border-top-color: #cc3333;
}
.woocommerce span.onsale {
  background: #cc3333;
  color: #fff;
  padding: 0;
  border-radius: 0;
  margin: 0 !important;
}
h2.woocommerce-loop-product__title{
  color: #232322;
  font-weight: 500;
  font-size: 20px !important;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #cc3333;
  color: #fff;
  border-radius: 0;
  border: 2px solid #cc3333;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  border: 2px solid;
  color: #cc3333;
  background: transparent;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 7px;
  border-radius: 0;
  border: solid 1px #cc3333;
  color: #cc3333;
}
.woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin: 0;
}
.woocommerce-MyAccount-navigation ul li {
  background: #cc3333 !important;
  padding: 12px!important;
  margin-bottom: 10px;
}
.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
  font-weight: bold;
}
.product_meta span {
  display: block;
  color: #000;
}
.posted_in a {
  color: #3a4d5e;
}
.woocommerce .woocommerce-ordering select{
  padding: 10px;
}
.woocommerce-product-gallery__image{
  padding: 2px;
}
.woocommerce form .form-row .required{
  color: #df0000;
}
.woocommerce #add_payment_method .cart-collaterals .cart_totals table td, #add_payment_method .cart-collaterals .cart_totals table th, .woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th, .woocommerce-checkout .cart-collaterals .cart_totals table td, .woocommerce-checkout .cart-collaterals .cart_totals table th,.woocommerce #add_payment_method table.cart td, #add_payment_method table.cart th, .woocommerce-cart table.cart td, .woocommerce-cart table.cart th, .woocommerce-checkout table.cart td, .woocommerce-checkout table.cart th, .woocommerce table.shop_table td, .woocommerce table.shop_table th,.woocommerce .woocommerce-result-count, .woocommerce .woocommerce-breadcrumb a, .woocommerce .woocommerce-breadcrumb {
  color: #3a4d5e;
}
.woocommerce td.actions {
  color: #fff !important;
}
.woocommerce .woocommerce-breadcrumb {
  margin-top: 15px;
}
.woocommerce-MyAccount-content p a, nav.woocommerce-MyAccount-navigation a, .woocommerce a.showcoupon, tr.woocommerce-cart-form__cart-item.cart_item a, .woocommerce-cart .cart-collaterals .shipping-calculator-button {
  text-decoration: none;
}
.woocommerce #comments p {
  float: right;
  width: 100%;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 16px;
}
.woocommerce .product-title{
  font-size: 17px;
}
.woocommerce .select2-container .select2-selection--single{
  height: 40px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  top:70%;
}
.select2-container--default .select2-selection--single, input#billing_phone {
  padding: 10px 0px;
  border-radius: 0px;
  border: 1px solid #bcbcbc;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
  width: auto;
}
.woocommerce #customer_login .col-1, .woocommerce #customer_login .col-2 {
  max-width: 100%;
}
#sidebar .star-rating, #footer .star-rating{
  margin: 0 !important;
}
#sidebar .product_list_widget .star-rating, #footer .product_list_widget .star-rating{
  margin: 5px 0 10px 0 !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #cc3333;
}
#sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #000;
}
#footer .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #fff;
}
#footer .price_label, #sidebar .price_label, .news-item.layout-two .news-text-wrap{
  font-size: 14px;
}
.woocommerce .star-rating, .woocommerce-Reviews .comment-text .description {
  float: right;
}
.related.products ul.products li.product, .related.products .woocommerce-page ul.products li.product{
  float:none;
  display: inline-table;
  width: 29%;
}
.woocommerce .woocommerce-product-rating .star-rating {
  margin: 0.5em 0 0 20px;
}
.woocommerce form.login .form-row,.woocommerce .woocommerce-form-login .woocommerce-form-login__submit{
  display: block;
  float: none;
}
.woocommerce-Reviews .comment-text p.meta {
  width: 100%;
  float: right;
  padding-top: 10px;
}
#sidebar a.remove.remove_from_cart_button , #footer a.remove.remove_from_cart_button{
  font-size: 22px !important;
}
.woocommerce #reviews #comments h2{
  font-size: 25px;
}
.related.products h2 {
  text-align: right;
}
.comment-form-rating label {
  padding: 10px 0;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
  font-size: 11px;
  padding: 7px;
}
#footer .woocommerce.widget_shopping_cart .cart_list li{
  padding: 0 2em 10px 0;
}
#sidebar .widget_shopping_cart_content li:hover{
  padding-right: 2em;
}
.woocommerce-Reviews .comment-form-rating label{
  padding: 10px 0;
}
#footer form.woocommerce-product-search button, #sidebar form.woocommerce-product-search button{
  background: #cc3333 ;
  border-radius: 0px;
  color: #fff;
  margin-top: 5px;
  padding: 10px 0;
  width: 100%;
  border: none;
  border: solid 1px #cc3333;
}
#sidebar .woocommerce ul.product_list_widget li img, #footer .woocommerce ul.product_list_widget li img {
  width: 50px;
}
.woocommerce form.login{
  display: inline-block;
}
#sidebar .woocommerce ul.product_list_widget li{
  position: relative;
  padding: 0 20px 10px 0;
  margin: 0;
}
#sidebar .woocommerce ul.product_list_widget li a{
  padding: 0
}
#sidebar .woocommerce ul.product_list_widget li:before{
  position: absolute;
  right: 0;
  top: 12px;
}
#sidebar ul.woocommerce-mini-cart.cart_list.product_list_widget li:before{
  display: none;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title,.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product{
  text-align: center;
}
#sidebar ul.woocommerce-mini-cart.cart_list.product_list_widget li a.remove{
  position: absolute;
}
#sidebar ul.woocommerce-mini-cart.cart_list.product_list_widget li{
  padding-right: 2em;
}
.woocommerce ul.products li.product .star-rating{
  margin: 10px auto !important;
}
#footer .woocommerce a.button:hover,#footer .woocommerce button.button:hover{
  background: #cc3333;
  color: #fff;
}
.single-product .background-img-skin {
  margin: 30px 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
  color:#515151;
}
/* Related Post */
.related-box {
  background: #f7f7f7;
}
.related-box h4 {
  font-size: 20px !important;
}
.related-posts .read-more-btn{
  display: inline-block;
}
/*------------- Sidebar -------------*/
#sidebar caption{
  color: #000;
}
#sidebar form{
  display: table;
  width: 100%;
}
#sidebar h3, #sidebar .widget_block h2 {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase !important;
  color: #3a4d5e;
  text-align: center !important;
  padding: 15px;
  letter-spacing: 2px;
  border-bottom: 1px solid #3a4d5e;
  margin-bottom: 20px;
}
#sidebar p, #sidebar .wp-caption-text, #sidebar caption, #sidebar nav.wp-calendar-nav{
  text-align: right;
}
#sidebar input[type="search"] {
  border: solid 1px #ebebeb;
  padding: 10px;
  font-size: 15px;
  color: #000;
  width: 100%;
}
#sidebar .widget_nav_menu .menu-testing-menu-container li{
  padding: 0;
}
#sidebar form.search-form label{
  width:100%;
}
#sidebar .textwidget a{
  color: #000;
  text-decoration:underline;
}
#sidebar #block-2 button[type="submit"]{
  background: #cc3333;
  color: #fff;
  border-color: #cc3333;
}
#sidebar input[type="submit"]{
  background: #cc3333;
  border: none;
  color: #fff;
  padding: 10px 0;
  letter-spacing: 2px;
  width: 100%;
  font-size: 18px;
  margin-top: 5px;
}
#sidebar aside {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
}
#sidebar ul {
  list-style:none;
  margin:0;
  font-size: 12px;
}
#sidebar ul li{
  font-size: 15px;
  margin:10px;
  text-transform: capitalize;
  border-bottom: 1px solid #ebebeb;
  line-height: 1.8;
  padding-bottom: 10px;
}
#sidebar ul li a{
  border-radius: 2px;
  padding: 5px 0;
  position: relative;
  color: #5b5b5b;
  font-size: 15px;
}
#sidebar li.menu-item-has-children{
  border: none;
}
#sidebar ul li:before{
  content: "";
  float: right;
  margin-top: 9px;
  margin-left: 12px;
  width: 6px;
  height: 6px;
  border: 1px solid #cc3333;
  border-radius: 50%;
  box-sizing: border-box;
}
#sidebar .tagcloud a{
  border: solid 1px #999;
  color: #9399a5;
  font-size: 15px !important;
  padding: 5px 18px;
  margin: 0 2px 6px;
  display: inline-block;
}
#sidebar .tagcloud a:hover{
  background:#cc3333;
  color: #fff;
}
img.rss-widget-icon {
  width: auto !important;
}
#sidebar table#wp-calendar caption {
  color: #202020;
}
/* Page */
.content-ts p{
  text-align:justify;
  font-size: 16px;
  margin:0 0 10px 0;
  color: #3a4d5e;
}
.content-ts hr{
  border:none;
  margin:35px 0;
  clear:both;
}
.content-ts h1{
  font-size:32px;
  font-weight:600;
  margin:0;
  padding:0;
  margin:0 0 15px;
}
.content-ts h3{
  font-size:36px;
  padding:0;
  margin:0 0 25px;
}
.content-ts h4{
  font-size:20px;
  padding:0;
  margin:0 0 25px;
}
.content-ts ul{
  margin:0 10px 0 0;
  padding:10px 0 0;
  font-size:16px;
}
.content-ts ul li{
  padding:0;
  margin:0 0 10px 0;
  line-height:25px;
}
.content-ts ol{
  padding:10px 0 0 0;
  font-size:16px;
  counter-reset: myCounter;
}
.content-ts ol li{
  padding:0 0 0 0;
  margin:0 0 20px 0;
}
.entry-content a, .comment p a, .woocommerce-product-details__short-description p a{
  text-decoration: underline;
}
.entry-content ul li{
  color: #3a4d5e;
}
/* Pagination */
.our-services .navigation .nav-previous a, .our-services .navigation .nav-next a{
  border: 2px solid #cc3333;
  color: #fff !important;
  background: #cc3333;
  font-weight: bold;
  padding: 10px;
}
.our-services .navigation .nav-previous a:hover, .our-services .navigation .nav-next a:hover{
  border: 2px solid #cc3333;
  background: transparent;
  color: #cc3333 !important;
}
.our-services .navigation .nav-previous, .our-services .navigation .nav-next{
  margin-bottom: 30px;
}
.our-services .navigation .nav-previous{
  margin-right: -12px;
}
.our-services .navigation .nav-next{
  margin-left: 12px;
}
.nav-previous {
  float: right;
  width: 50%;
  font-size: 15px;
}
.nav-links {
    margin: 20px 0;
}
.nav-next {
  float: left;
  font-size: 15px;
  width: 50%;
  text-align: left;
}
.pagination {
  clear:both;
  position:relative;
  font-size:14px;
  line-height:13px;
  float:left;
  font-weight:bold;
}
.pagination span,.pagination a, .page-links .page-links-title, .page-links .post-page-numbers.current, .page-links a {
  display:block;
  float:right;
  margin: 2px 0 2px 2px;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#000;
  border: 1px solid #fff;
  font-weight:bold;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.page-links .page-links-title{
  padding: 10px 0;
}
.pagination a:hover, .page-links a:hover{
  color:#cc3333;
}
.pagination .current, .page-links .post-page-numbers.current{
  padding:10px 15px;
  color:#cc3333;
  border-bottom: 1px solid #ebebeb;
}
.post-categories ul{
  list-style: none;
}  
.post-categories li{
  display: inline-block;
  margin-bottom: 15px;
}
.post-categories li a{
  color: #ffffff;
  margin-left: 8px;
  background-color: #cc3333;
  border: 2px solid #cc3333;
  padding: 8px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
}
.category-sec{
  display: flex;
  margin-top: 10px;
  align-items: baseline;
}
/* Media */
@media screen and (max-width: 768px) and (min-width: 720px){  
  #sidebar th,#sidebar td{
    padding: 0px;
  }
  #sidebar .woocommerce ul.product_list_widget li img, #footer .woocommerce ul.product_list_widget li img{
    width: 40px;
  }
  .page-template-custom-front-page #header{
    position: static;
  }
  #slider .inner_carousel h2 {
    font-size: 30px;
  }
  #slider .inner_carousel p {
    display: none;
  }
  #slider .carousel-caption {
    top: 46%;
  }
  #footer:before{
    top:0px;
  }
  .page-template-custom-front-page .toggle-menu {
    position: relative;
    top: 85px;
    z-index: 9999;
  }
  .woocommerce ul.products[class*=columns-] li.product:nth-child(2n), .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n){
    display: inline-table;
    margin: 10px;
  }
  .related.products ul.products li.product, .related.products .woocommerce-page ul.products li.product{
    width: 44%;
  }
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
    width: 44%;
    float: right;
    clear: both;
    margin: 10px;
  }
  #slider img{
    height: auto !important;
  }
}
@media screen and (max-width:720px) {
  #slider .carousel-control-next{
    left: 0%;
  }
  #slider .carousel-caption{
    top:40%;
  }
  #slider .carousel-control-prev, #slider .carousel-control-next{
    top:auto;
  }
  #slider .inner_carousel h1, #slider .inner_carousel p,#slider .inner_carousel h2{
    display: none;
  }
  #slider img{
    height: auto !important;
  } 
  #comments input[type="submit"].submit{
    width: 100% !important;
  }
  #footer input[type="submit"] {
    padding: 6px 0;
    float: left;
    border-radius: 0px;
    color: #fff;
    margin-top: 4px;
    margin-bottom: 10px;
  }
  .page-template-custom-front-page #header-top,.page-template-custom-front-page .logo{
    position: static;
    margin: 0
  }
  .cat_content:hover .cat_body{
    bottom: 1em;
  }
  .center-align {
    right: 45%;
    left: 50%;
  }
  #slider .carousel-caption, #slider .inner_carousel{
    text-align: center !important;
    right: 0 !important;
    left:0 !important;
  }
}
@media screen and (min-width:720px){
  #footer input[type="submit"]{
    width: 100%;
    float: none;
    margin: 0;
  }
  #footer input[type="search"]{
    width: 100%;
  }
  #footer th,#footer td{
    padding: 0px;
  } 
}
@media screen and (min-width: 1000px) and (max-width: 1024px){
  #slider .carousel-control-prev{
    left: 11%;
  }
  .entry-content .alignwide {
    margin-right: -15px;
    margin-left: -15px;
  }
  #slider .carousel-caption {
    top: 45%;
  }
  .logo h1{
    font-size: 30px;
  }
  #footer input[type="submit"]{
    margin-top: 5px;
  }
  #footer th,#footer td{
    padding: 4px;
  }
  #sidebar th,#sidebar td{
    padding: 0px;
  }
  #slider .carousel-caption {
    top: 45%;
  }
  #slider .inner_carousel h2 {
    font-size: 33px;
  }
  #slider .carousel-control-prev, #slider .carousel-control-next{
    top:65%;
  }
  .cat_body{
    top:2em;
    bottom: 2em;
  }
}
@media screen and (max-width: 425px){
  .entry-content .alignwide {
    margin-right: -10px;
    margin-left: -10px;
  }
  #footer input[type="search"]{
    width: 100%;
  }
  .woocommerce ul.products[class*=columns-] li.product,.woocommerce-page ul.products[class*=columns-] li.product{
    width: 100% !important;
    float: none !important;
  }
  #slider .carousel-caption{
    left: 0;
    right: 0;
    top:45%;
  }
  #slider .carousel-control-prev, #slider .carousel-control-next{
    top:0;
  }
  #slider .carousel-control-prev{
    left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px){
  .entry-content .alignwide {
    margin-right: -20px;
    margin-left: -20px;
  }
  #slider .carousel-caption {
    top: 45%;
    left: 40%;
  }
  #slider .inner_carousel p{
    display: none;
  }
  #slider .carousel-control-prev {
    left: 13%;
  }
  .page-template-custom-front-page #header-top{
    margin: 0;
  }
  .page-template-custom-front-page .logo{
    position: static;
    bottom: -10px;
  }
  .logo h1{
    font-size: 30px;
  }
  .cat_content:hover .cat_body{
    bottom: 2em;
  }
  /*.top-header .account-btn{
    margin: 22px 0;
  }*/
  #menu-sidebar input[type="submit"] {
    padding: 8px 35px !important;
  }
  #slider .inner_carousel h1{
    font-size: 40px;
  }
}
@media screen and (min-width: 1025px){
  #slider .carousel-caption{
    right:10%;
  }
  .cat_body{
    bottom: 2em;
  }
  #slider .carousel-control-prev, #slider .carousel-control-next{
    top:48%;
    width: 3%;
  }
}
@media screen and (max-width: 1000px){
  .menubar .primary-navigation ul li a:focus,a.closebtn.responsive-menu:focus, .toggle-menu button:focus, .primary-navigation a:focus{
    outline: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
  }
  .toggle-menu {
    display: block;
    background: #232323;
  }
  .header-fixed{
    background: #232323;
  }
  .page-template-custom-front-page .toggle-menu{
    position: relative;
    top: 0px;
    z-index: 9;
  }
  .toggle-menu i {
    font-size: 25px;
    color: #fff;
  }
  .toggle-menu button {
    background: transparent;
    border: none;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: #252525;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    visibility: hidden;
  }
  body.noscroll .sidebar{ 
    width: 100%; 
    visibility: visible;
  }
  .sidebar .closebtn {
    position: absolute;
    top: -9px;
    right: -6px;
    font-size: 40px !important;
    display: block;
    color: #ffffff;
    border:none;
    background: transparent;
  }
  .sidebar #primary-site-navigation, input.search-field {
    width: 100%;
  }
  .primary-navigation ul ul li{
    display: block;
    text-align: center;
  }
  .menubar .primary-navigation ul li{
    border-top:1px #303030 solid; 
    display:block;
  }
  .primary-navigation ul li a{
    padding: 10px;
    display:block;
    color:#ffffff;
    border:none;
  }
  .primary-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .primary-navigation ul li ul li a{
    padding-right:20px !important;
  }
  .primary-navigation ul li ul li ul li a{
    padding-right:30px !important;
  } 
  .primary-navigation ul ul{
    position: static;
    width: 100%;
    background: unset;
  }
  .primary-navigation li{
    padding: 0;
  }
  .primary-navigation ul{
    display: grid;
    text-align: center;
  }
  .primary-navigation .current_page_item > a,.primary-navigation .current-menu-item > a,.primary-navigation .current_page_ancestor > a{
    background:unset;
  }
  .page-template-custom-front-page .header-nav #header, .search-box , #menu-sidebar .talk-btn,.top-header {
    display: none;
  }
  .page-template-custom-front-page #header, #menu-sidebar .mail, #contact-info form.search-form, a.closebtn.responsive-menu {
    display: block;
  }
  .primary-navigation ul ul a, .primary-navigation li a:hover{
    background-image: linear-gradient(90deg, #000 0%, #cc3333 120% );
  }
  #menu-sidebar, .primary-navigation ul ul a:hover, .primary-navigation ul ul a:focus,.primary-navigation li a:focus, .primary-navigation li:hover a{
    background-image: linear-gradient(90deg, #000 0%, #cc3333 120% );
    opacity: 0.95;
  }
  #primary-site-navigation a.closebtn.mobile-menu i {
    color: #fff;
  }
  .primary-navigation ul ul li:first-child{
    border-top: none;
  }
  #contact-info{
    background: #000;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    display: block;
  }
  #menu-sidebar .primary-navigation a{
    font-size: 15px;
    font-weight: 600;
  }
  .phone a, .mail a, .time span{
    color: #fff;
    font-size: 15px;
  }
  .phone i, .mail i, .time i{
    color: #cc3333;
  }
  #menu-sidebar input[type="submit"]{
    padding: 8px;
    background-color: #cc3333;
    font-size: 15px;
  }
  #menu-sidebar input.search-field{
    background: #fff;
    padding: 6px;
  }
  .main-menu-navigation{
    overflow-y: scroll;
    scroll-behavior: auto;
  }
  .sf-arrows .sf-with-ul:after{
    position: absolute;
    left: 0;
    color: #fff;
  }
  .primary-navigation ul ul ul ul{
    padding-right: 10px;
  }
  .sf-arrows .sf-with-ul:after{
    position: absolute;
    right: 87%;
    top: 10px;
  }
  .sf-arrows ul .sf-with-ul:after{
    left: 0;
  }
  #contact-info label{
    width: 60%;
  }
  #contact-info .account-btn a {
    border: 2px solid #cc3333;
    color: #cc3333;
    padding: 7px;
    font-size: 11px;
    font-weight: 700;
    margin: 7px 0;
    display: inline;
  }
  .woocommerce-cart table.cart td.actions .coupon .input-text{
    font-size: 15px;
  }
  .fixed-logo{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    box-shadow: -2px 2px 10px 0px #2d2d2d;
    width: 100%;
  }
  .sticky-header{
    position: static;
  }
}